/*/Debug
/Obsolete_firmware/*/Debug
.metadata
/.metadata/.log
/.metadata/.plugins/org.eclipse.cdt.core/.log
/.metadata/.plugins/org.eclipse.cdt.core/UART_console.1772917643464.pdom
/.metadata/.plugins/org.eclipse.cdt.ui/UART_console.build.log
/.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
/.metadata/.plugins/org.eclipse.core.resources/.history/10/f0d23f11381b00111457ae1c0bc5d657
/.metadata/.plugins/org.eclipse.core.resources/.history/14/b0666c9a381b00111457ae1c0bc5d657
/.metadata/.plugins/org.eclipse.core.resources/.history/17/9088b022701a001111abd855eaa0ec36
/.metadata/.plugins/org.eclipse.core.resources/.history/18/b09903c76f1a001111abd855eaa0ec36
/.metadata/.plugins/org.eclipse.core.resources/.history/1c/5035e6586f1a001111abd855eaa0ec36
/.metadata/.plugins/org.eclipse.core.resources/.history/1f/e0115fd76f1a001111abd855eaa0ec36
/.metadata/.plugins/org.eclipse.core.resources/.history/20/003a5058371b00111457ae1c0bc5d657
/.metadata/.plugins/org.eclipse.core.resources/.history/24/203ac25c371b00111457ae1c0bc5d657
/.metadata/.plugins/org.eclipse.core.resources/.history/24/7015e012381b00111457ae1c0bc5d657
/.metadata/.plugins/org.eclipse.core.resources/.history/26/f04812c3381b00111457ae1c0bc5d657
/.metadata/.plugins/org.eclipse.core.resources/.history/2b/6089c6d7371b00111457ae1c0bc5d657
/.metadata/.plugins/org.eclipse.core.resources/.history/34/f06cfb01701a001111abd855eaa0ec36
/.metadata/.plugins/org.eclipse.core.resources/.history/35/6055c0626f1a001111abd855eaa0ec36
/.metadata/.plugins/org.eclipse.core.resources/.history/3f/107aa1ed371b00111457ae1c0bc5d657
/.metadata/.plugins/org.eclipse.core.resources/.history/42/70c1ded6371b00111457ae1c0bc5d657
/.metadata/.plugins/org.eclipse.core.resources/.history/53/701a898c381b00111457ae1c0bc5d657
/.metadata/.plugins/org.eclipse.core.resources/.history/5b/b05db64b371b00111457ae1c0bc5d657
/.metadata/.plugins/org.eclipse.core.resources/.history/5e/e0d61e03371b00111457ae1c0bc5d657
/.metadata/.plugins/org.eclipse.core.resources/.history/62/d05011a5381b00111457ae1c0bc5d657
/.metadata/.plugins/org.eclipse.core.resources/.history/64/f0199105381b00111457ae1c0bc5d657
/.metadata/.plugins/org.eclipse.core.resources/.history/65/e093197b6c1a001111abd855eaa0ec36
/.metadata/.plugins/org.eclipse.core.resources/.history/67/50bc7e25371b00111457ae1c0bc5d657
/.metadata/.plugins/org.eclipse.core.resources/.history/6f/f0c2d3dd371b00111457ae1c0bc5d657
/.metadata/.plugins/org.eclipse.core.resources/.history/73/60796cec6f1a001111abd855eaa0ec36
/.metadata/.plugins/org.eclipse.core.resources/.history/75/808cb1e7371b00111457ae1c0bc5d657
/.metadata/.plugins/org.eclipse.core.resources/.history/76/f06b0319701a001111abd855eaa0ec36
/.metadata/.plugins/org.eclipse.core.resources/.history/7a/600569cd6f1a001111abd855eaa0ec36
/.metadata/.plugins/org.eclipse.core.resources/.history/7b/20285199371b00111457ae1c0bc5d657
/.metadata/.plugins/org.eclipse.core.resources/.history/84/b0af6b3f6f1a001111abd855eaa0ec36
/.metadata/.plugins/org.eclipse.core.resources/.history/88/9073c2df371b00111457ae1c0bc5d657
/.metadata/.plugins/org.eclipse.core.resources/.history/8c/50af79516e1a001111abd855eaa0ec36
/.metadata/.plugins/org.eclipse.core.resources/.history/8f/308f07ef361b00111457ae1c0bc5d657
/.metadata/.plugins/org.eclipse.core.resources/.history/90/90d6f5446f1a001111abd855eaa0ec36
/.metadata/.plugins/org.eclipse.core.resources/.history/93/c0f6c1bd381b00111457ae1c0bc5d657
/.metadata/.plugins/org.eclipse.core.resources/.history/98/60ef23e76f1a001111abd855eaa0ec36
/.metadata/.plugins/org.eclipse.core.resources/.history/9c/1022264e6f1a001111abd855eaa0ec36
/.metadata/.plugins/org.eclipse.core.resources/.history/9e/207117fd6f1a001111abd855eaa0ec36
/.metadata/.plugins/org.eclipse.core.resources/.history/a/10aab13a6f1a001111abd855eaa0ec36
/.metadata/.plugins/org.eclipse.core.resources/.history/a/e09d6bdf6f1a001111abd855eaa0ec36
/.metadata/.plugins/org.eclipse.core.resources/.history/a0/a0b64a91371b00111457ae1c0bc5d657
/.metadata/.plugins/org.eclipse.core.resources/.history/a2/504400e4371b00111457ae1c0bc5d657
/.metadata/.plugins/org.eclipse.core.resources/.history/a4/e0b12101381b00111457ae1c0bc5d657
/.metadata/.plugins/org.eclipse.core.resources/.history/a7/300d6d28381b00111457ae1c0bc5d657
/.metadata/.plugins/org.eclipse.core.resources/.history/b0/a006f68f381b00111457ae1c0bc5d657
/.metadata/.plugins/org.eclipse.core.resources/.history/b2/90ec3ed16f1a001111abd855eaa0ec36
/.metadata/.plugins/org.eclipse.core.resources/.history/b6/50c2c596371b00111457ae1c0bc5d657
/.metadata/.plugins/org.eclipse.core.resources/.history/bd/2051c0f1371b00111457ae1c0bc5d657
/.metadata/.plugins/org.eclipse.core.resources/.history/c3/40cb9f756d1a001111abd855eaa0ec36
/.metadata/.plugins/org.eclipse.core.resources/.history/c7/e05145d4371b00111457ae1c0bc5d657
/.metadata/.plugins/org.eclipse.core.resources/.history/ca/301f445e371b00111457ae1c0bc5d657
/.metadata/.plugins/org.eclipse.core.resources/.history/ce/e07a28416f1a001111abd855eaa0ec36
/.metadata/.plugins/org.eclipse.core.resources/.history/ce/f02d7df2361b00111457ae1c0bc5d657
/.metadata/.plugins/org.eclipse.core.resources/.history/d2/d07b27c46f1a001111abd855eaa0ec36
/.metadata/.plugins/org.eclipse.core.resources/.history/e4/906116e56e1a001111abd855eaa0ec36
/.metadata/.plugins/org.eclipse.core.resources/.history/e5/109120ac381b00111457ae1c0bc5d657
/.metadata/.plugins/org.eclipse.core.resources/.history/e6/004ad39c371b00111457ae1c0bc5d657
/.metadata/.plugins/org.eclipse.core.resources/.history/e9/e02065636f1a001111abd855eaa0ec36
/.metadata/.plugins/org.eclipse.core.resources/.history/ea/a0d3c594371b00111457ae1c0bc5d657
/.metadata/.plugins/org.eclipse.core.resources/.history/ef/c0172eda6c1a001111abd855eaa0ec36
/.metadata/.plugins/org.eclipse.core.resources/.history/f/f0b57327701a001111abd855eaa0ec36
/.metadata/.plugins/org.eclipse.core.resources/.history/f5/707036266f1a001111abd855eaa0ec36
/.metadata/.plugins/org.eclipse.core.resources/.history/f7/008fe30a381b00111457ae1c0bc5d657
/.metadata/.plugins/org.eclipse.core.resources/.history/fb/6078662f701a001111abd855eaa0ec36
/.metadata/.plugins/org.eclipse.core.resources/.history/fc/a093b51b701a001111abd855eaa0ec36
/.metadata/.plugins/org.eclipse.core.resources/.projects/UART_console/.indexes/bf/be/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/UART_console/.indexes/bf/c4/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/UART_console/.markers.snap
/.metadata/.plugins/org.eclipse.core.resources/.projects/UART_console/.syncinfo.snap
/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/.metadata/.plugins/org.eclipse.core.resources/2.snap
/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
/.gitignore
